
//variables partial

//colors
$color_offwhite:      #f8f8f8;
$color_offblack:      #212121;

$color_base_light:    #cccccc;
$color_base_dark:     #8d8d8d;

$color_primary:       #d4325e;
$color_primary_dark:  #ad1457;
$color_primary_light: #f48fb1; //#f06292; //#EB8B84

$color_secondary:     #fbc69a;
$color_accent:        #28a9c7; //#00acc1
$color_accent_light:  #30c4a2;
$color_accent_lime:   #d4e968;

//typography
$font_head: 'Metropolis', 'Helvetica', Arial, Verdana, sans-serif; //Raleway
$font_body: 'Lora', 'Helvetica', Arial, Verdana, sans-serif; //Nunito

//

$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
//$action-color: #477dca !default;
//$dark-gray: #333 !default;
//$light-gray: #ddd !default;
$medium-screen: 40em !default;
//$base-font-color: $dark-gray !default;
//$sans-serif: "PT Sans", sans-serif;
//$sans-serif-2: "Titillium Web", sans-serif;
